.menuList {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    position: relative;
    outline: 0px
}

.menuList li {
    cursor: pointer;
}
.menuList li:hover, .menuList li:focus{
    font-weight: 600;
}