.navItem {
    text-decoration: none;
}

.navItem:hover {
    font-weight: 600;
}

.active {
    font-weight: 600;
}

.navBar {
    display: flex;
    padding: 16px;
    align-items: center;
}

.navMenu {
    margin-left: 30px;
    display: flex;
    column-gap: 2.22vw;
    font-size: 1.3vw;
}

.navDropButton {
    background: none;
    border: none;
    color: var(--link-color);
    text-decoration: none;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.navDropButton:focus, .navDropButton:hover{
    font-weight: 600;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1vw;
    background-color: var(--background);;
    border-radius: 10px;
    border: 1px solid var(--foreground);   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    flex-direction: column;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdownContent,
.dropdown:focus-within .dropdownContent {
    display: flex;
}

.buttonContent { 
    display: flex;
    align-items: center;
}

.buttonIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3.2em;
    transition: transform 0.3s;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.invertedIcon {
    transform: translateY(-50%) rotate(180deg); /* Invert the icon */
}

.options{
    position: absolute;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    right: 0;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: var(--background);;
    border-radius: 10px;
    border: 1px solid var(--foreground); 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.optionsText{
    margin-bottom: 1vw;
    margin-right: 1vw;
}

.optionsText:hover {
    font-weight: 600;
}


