.leftContainer {
    padding: 32px 32px 0 32px;
    width: 50%;
    margin: 1vw;
    height: 76vh;
    border-radius: 10px;
    border: solid 1px var(--card-container-bg);
}

.rightContainer {
    padding: 32px 32px 0 32px;
    width: 50%;
    margin: 1vw;
    height: 76vh;
    border-radius: 10px;
    border: solid 1px var(--card-container-bg);
}

.groupsMainContainer {
    margin: 20px auto;
    display: flex;
}

.groupListContainer {
    max-height: 60%;
    overflow-y: auto;
}


.groupList {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.groupList li {
    margin: 10px 0;
}

.groupList li:first-child {
    margin-top: 0;
}
.groupList li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.buttonContainer {
    margin-top: 0.5vw;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.buttonPopupcontainer {
    position: relative;
}

.popup {
    flex: 1;
    padding: 0 0 0 0;
    top: 100%; /* Position the popup below the button */
    left: 0;
    margin-top: 10px;
    border: 1px solid var(--foreground);
    border-radius: 8px;
    width: 60vh;
    background-color: var(--background);
    position: absolute;
    box-shadow: 0 1px 3px var(--foreground);
  }
  
.column {
    flex: 1;
    padding: 10px;
}

.separator {
    width: 1px;
    background-color: #ccc;
    margin: 3vh;
}

.radioGroup {
    display: flex;
    flex-direction: column;
}

.radioGroup label {
    margin-bottom: 10px;
    font-size: 1.2vw;
}

.fieldsetStyle {
    border: none;
    padding: 0;
    margin: 0;
}

.legendStyle {
    font-size: 1.2vw;
    margin-bottom: 10px;
    font-weight: bold;
}
.buttonIcon {
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }